<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
	style="background-image: url('img/categorize-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Categorize</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container" id="container">
	<div class="row">
		<div class="col-lg-12 list-inline text-center">
			<h1 class="page-header">
				Find <small>Article Category</small>
			</h1>

			<form role="form" ng-submit="submit()">
				<div class="form-group">
					<textarea class="form-control" rows="10" placeholder="Search..." class="form-control" ng-model="content" name="content" focus-me="shouldBeOpen"></textarea>
				</div>
				<button class="btn btn-default" type="submit">Search</button>
			</form>
			<span> Max score <i ng-bind="resultCount"></i></span><br>
			<span ng-if="category.length"> Most probable category <b><i ng-bind="category"></i></b></span><br>
		</div>
	</div>
	
	<div class="row" ng-if="articles.length">
       	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-repeat="item in articles">
       		<span>
				<div class="post-preview">
					<a ui-sref-active="current" ui-sref="article({url:'{{item.url}}'})"> 
						<h2 class="post-title">
							{{item.title}}
						</h2>
					</a>
					<span class="badge">{{item.score}}</span>
				</div>
				<hr>
       		</span>
       	</div>
    </div>
</div>