<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>
	<div id="button">Test</div>
    <p th:text="'Hello, ' + ${name} + '!'" />
    
	<!-- jQuery -->
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" th:src="@{/resources/js/plugins/morris/raphael.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/morris/morris.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/morris/morris-data.js}"></script>
    
    <script type="text/javascript" src="/webjars/jquery/${jquery.version}/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/${bootstrap.version}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-file-upload/${angular-file-upload.version}/angular-file-upload-html5-shim.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/${angularjs.version}/angular.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/${angularjs.version}/angular-route.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-file-upload/${angular-file-upload.version}/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-ui-bootstrap/${angular-ui-bootstrap.version}/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-ui-bootstrap/${angular-ui-bootstrap.version}/ui-bootstrap-tpls.min.js"></script> 
</body>
</html>
